<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styling/dashboard.css">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,300,400,500,600,700&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <h1>☑ CHECKLIST</h1>
            <a class="dashboard" href="#">Dashboard</a>
        </div>
        <button class="logout-btn" onclick="window.location='Login.html'">LOGOUT</button>
    </nav>

    <section>
        <div class="main-content">
            <h1>Welcome back,[username]!</h1>
            <hr>
            <div class="profile-card">

                <!-- Top section - Avatar -->
                <div class="avatar">
                    CL
                </div>

                <!-- Middle section - User info -->
                <div class="profile-info">
                    <h2>Username</h2>
                    <p>Member since 2025</p>
                </div>

                <!-- Bottom section - Actions -->
                <div class="profile-actions">
                    <button class="change">Change Password</button>
                    <br>
                    <br>
                    <button class="delete">Delete Account</button>
                </div>
            </div>

    </section>

    <section>
        <div class="bottom-cards">
            <div class="checklist-card">

                <!-- Card title -->
                <h1>My Checklist</h1>

                <!-- Add task section -->
                <div class="add-task">
                    <input type="text" placeholder="Add a new task...">
                    <button>Add</button>
                </div>

                <!-- Task list -->
                <ul class="task-list">
                    <li>
                        <input type="checkbox">
                        <span>Buy groceries</span>
                    </li>
                    <br>
                    <li>
                        <input type="checkbox">
                        <span>Finish dashboard UI</span>
                    </li>
                    <br>
                    <li>
                        <input type="checkbox">
                        <span>Learn Flask</span>
                    </li>
                </ul>
            </div>
            <div class="progress-card">
                <h1>Task Progress</h1>

                <div class="ring-container">
                    <div class="ring"></div>
                    <div class="ring-center">
                        <span class="percentage">0%</span>
                    </div>

                    <p class="ring-label">0 0f 3 completed</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>