<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>LOGIN To access the page</h1>
    <p>Make sure to Complete with real details </p>
    <form>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username">
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email">
        <label for="Password">Password:</label>
        <input type="password" type="hidden" id="Password" name="Password">

        <button type="submit">LOGIN</button>

        <p>Don't have an account yet click here to sign up <a href="Signup.html">Sign up</a></p>
    </form>

</body>

</html>