<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>LOGIN To access the page</h1>
    <p>Make sure to Complete with real details </p>
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Username">
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email">
    <label for="Password">Password:</label>
    <input type="text" id="Password" name="Password">

    <button type="submit">LOGIN</button>


</body>

</html>