<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styling/style.css">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,300,400,500,600,700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1>LOGIN</h1>
        <br>
        <p>Make sure to Complete with real details </p>
        <br>
        <form>
            <label for="Username">Username:</label>
            <br>
            <input type="text" id="Username" name="Username">
            <br>
            <label for="Email">Email:</label>
            <br>
            <input type="email" id="Email" name="Email">
            <br>
            <label for="Password">Password:</label>
            <br>
            <input type="password" type="hidden" id="Password" name="Password">
            <br>
            <br>
            <p>Don't have an account yet ? <a href="Signup.html" class="sign">Sign up</a></p>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</body>

</html>