<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>WELCOME TO THE WEBSITE</h1>
        <h2>SIGN UP</h2>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username">
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email">
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password">

        <button type="submit">LOGIN</button>
    </div>
</body>
</html>