* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(20, 20, 20, 1.0);
}


.navbar{
  list-style-type: none;
  margin: 10px;
  padding: 30px;
  width: 130px;
  height: calc(100vh - 50px);  /* subtracts the top and bottom margin */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.247), rgb(0, 0, 0));
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(245, 245, 220, 0.5) ;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

h1{
   font-size: 20px;
   font-family: 'Clash Grotesk', sans-serif;
   color: rgba(245, 245, 220, 1.0);
}


/**** LOGOUT btn ****/
.logout-btn {
    background: rgba(245, 245, 220, 1.0);
    border: 2px solid rgba(245, 245, 220, 1.0);
    border-radius: 16px;
    padding: 10px 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.logout-btn a {
    color: black;
    text-decoration: none;
}

.logout-btn:hover {
    background: transparent;
    color: rgba(245, 245, 220, 1.0);
    transition: .5s;
}



a{
    text-decoration: none;
    color: rgba(245, 245, 220, 1.0);
}

button a:hover {
    color: rgba(245, 245, 220, 1.0);
}


.main-content{
    margin-left: 200px;  /* sidebar width + margin */
    padding: 30px;
}

.dashboard{
    display: block;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Clash Grotesk', sans-serif;
    color: rgba(245, 245, 220, 1.0);
    font-size: 18px;
    width: 100%;
}

.dashboard:hover{
    background: rgba(245, 245, 220, 1.0);
    color: black;
    transition: .5s;
}


