* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(20, 20, 20, 1.0);
}


.navbar {
    list-style-type: none;
    margin: 10px;
    padding: 30px;
    width: 130px;
    height: calc(100vh - 50px);
    /* subtracts the top and bottom margin */
    position: fixed;
    /* Make it stick, even on scroll */
    overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.247), rgb(0, 0, 0));
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(245, 245, 220, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h1 {
    font-size: 20px;
    font-family: 'Clash Grotesk', sans-serif;
    color: rgba(245, 245, 220, 1.0);
}


/**** LOGOUT btn ****/
.logout-btn {
    background: rgba(245, 245, 220, 1.0);
    border: 2px solid rgba(245, 245, 220, 1.0);
    border-radius: 16px;
    padding: 10px 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.logout-btn a {
    color: black;
    text-decoration: none;
}

.logout-btn:hover {
    background: transparent;
    color: rgba(245, 245, 220, 1.0);
    transition: .5s;
}

.profile-card {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.247), rgb(0, 0, 0));
    box-shadow: 0 8px 32px rgba(245, 245, 220, 0.08);
    border-radius: 16px;
    height: 45vh;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}



a {
    text-decoration: none;
    color: rgba(245, 245, 220, 1.0);
}

button a:hover {
    color: rgba(245, 245, 220, 1.0);
}


.main-content {
    margin-left: 200px;
    /* sidebar width + margin */
    padding: 30px;
}


.main-content h1 {
    margin: 50px;
    font-size: 50px;
    text-align: center;
}

.dashboard {
    display: block;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Clash Grotesk', sans-serif;
    color: rgba(245, 245, 220, 1.0);
    font-size: 18px;
    width: 100%;
}

.dashboard:hover {
    background: rgba(245, 245, 220, 1.0);
    color: black;
    transition: .5s;
}


.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(245, 245, 220, 1.0);
    color: rgb(26, 26, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 30px;
    font-family: 'Clash Grotesk', sans-serif;
}

.profile-info {
    font-family: 'Clash Grotesk', sans-serif;
    color: rgba(245, 245, 220, 1.0);
    position: relative;
    left: 30px;
}

.profile-actions .change {
    background: rgba(245, 245, 220, 1.0);
    border: 2px solid rgba(245, 245, 220, 1.0);
    border-radius: 16px;
    padding: 10px 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    left: 30px;
}


.profile-actions .change:hover {
    background: transparent;
    color: rgba(245, 245, 220, 1.0);
    transition: .5s;
}

.profile-actions .delete {
    background: transparent;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 16px;
    padding: 10px 20px;
    font-weight: bolder;
    color: rgb(255, 0, 0);
    cursor: pointer;
    position: relative;
    left: 30px;
}

.profile-actions .delete:hover {
    background: rgb(255, 0, 0);
    color: rgba(245, 245, 220, 1.0);
    transition: .5s;
}

hr {
    margin: 40px;
}


/*** Summary card***/

.summary-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.247), rgb(0, 0, 0));
    box-shadow: 0 8px 32px rgba(245, 245, 220, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    margin-left: 490px;
    /* sidebar width + margin */
    padding: 30px;
    width: 27vw;
    height: 35vh;
    position: absolute;
    top: 228px;
    left: 350px;
}

.summary-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-bottom: beige;
}

.summary-number {
   font-weight: bold;
   font-family: 'Clash Grotesk', sans-serif;
   font-size: 32px;
   color: beige;
}

.summary-label {
    font-family: 'Clash Grotesk', sans-serif;;
    font-size: 14px;
    color: rgba(245, 245, 220, 0.5);
}

.divider{
    color: rgba(245, 245, 220, 1.0);
    margin: 0px;
}

h2{
    margin: 10px;
    font-family: 'Clash Grotesk', sans-serif;
    color: rgba(245, 245, 220, 1.0);
}

.checklist-card {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.247), rgb(0, 0, 0));
    box-shadow: 0 8px 32px rgba(245, 245, 220, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(245, 245, 220, 0.15);
    border-radius: 16px;
    margin-left: 230px;
    /* sidebar width + margin */
    padding: 30px;
    width: 30vw;
    height: 50vh;
}

.task-list {
    list-style: none;
    display: block;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    font-family: 'Clash Grotesk', sans-serif;
    color: rgba(245, 245, 220, 1.0);
}




.checklist-card h1 {
    font-size: 40px;
}

.checklist-card button {
    background: rgba(245, 245, 220, 1.0);
    border: 2px solid rgba(245, 245, 220, 1.0);
    border-radius: 16px;
    padding: 10px 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    left: 30px;
}

.add-task {
    margin: 10px;
}

.add-task input {
    background: transparent;
    border: 2px solid rgba(245, 245, 220, 1.0);
    border-radius: 16px;
    padding: 5px 10px;
    color: rgba(245, 245, 220, 1.0);
}

.task-list input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid rgba(245, 245, 220, 0.6);
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: rgba(245, 245, 220, 1.0);
    border-color: rgba(245, 245, 220, 1.0);
}


/*** ring***/

.bottom-cards {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.progress-card {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.247), rgb(0, 0, 0));
    box-shadow: 0 8px 32px rgba(245, 245, 220, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(245, 245, 220, 0.15);
    border-radius: 16px;
    padding: 30px;
    width: 38vw;
    height: 50vh;
}

.progress-card h1 {
    font-size: 40px;
}

.ring-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.ring {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 12px solid rgb(50, 197, 5);
    border-top-color: transparent;
    position: absolute;
    left: 160px;
    top: 50px;
}

.ring-center {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: rgba(30, 30, 30, 1.0);
    left: 245px;
    top: 135px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Clash Grotesk', sans-serif;
}

.percentage {
    color: rgba(245, 245, 220, 1.0);
    font-size: 20px;
    font-weight: bold;
}

.ring-label {
    font-size: 16px;
    color: rgba(245, 245, 220, 0.6);
    text-align: center;
    font-family: 'Clash Grotesk', sans-serif;
}